@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif; 
    background: black ;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: cemter;
    gap: 2rem;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 100%;
    width: 100%;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #afad3d;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 25px;
    color: #fff;
    background-color: #afad3d;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttonSocial{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 19px;
    color: #fff;
    background-color: #afad3d;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover{
    background-color: #18181B;
}

.button i {
    margin-right: 10px; 
}

.buttonSocial i {
    margin-right: 10px; 
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.social {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
}

.gallery-item {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-item:hover {
    transform: scale(1.05);
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h3{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 45px;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #ecca8a;
}

header .content h3 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #ecca8a;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}

header .image::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -100;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.sub-header{
    max-width: 600px;
    font-size: 20px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

@media (width < 900px){
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .gallery-item {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (width < 600px){
    header .image::before{
        display: none;
    }
}
